<body>
  <div id="mask"></div>
  <%= render 'layouts/flash_msgs' %>
  <%= render 'layouts/header' %>
  <% if !@current_season.nil? %>
  <div class="float-form" id="new-team-form">
    <div class="close-block" id="cancel-team">
      X
    </div>
    Add a Team:
    <div id="float-form-table">
    <%= form_for [@current_account, @current_season] do |f| %>
    <p>
      <%= f.collection_select(:teams, @teams, :id, :name, {include_blank: "Select a team"}, {class: "large-selector"}) %>
      <%= f.submit "Add Team", class: "submit-button" %>
    </p>
    </div>
    <% end %>
    Create a Team:
    <div id="float-form-table">
    <%= form_for [@current_account, @team] do |f| %>
    <p>
      <%= f.text_field :name, placeholder: "Enter team name", id: 'float-form-input', class: 'full-form' %>
      <%= f.text_area :description, placeholder: "Add a description", rows: 3, id: 'float-form-input', class: 'full-form no-resize' %>
      <%= f.submit "Create Team", class: "submit-button" %>
    </p>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="float-form" id="new-season-form">
    <div class="close-block" id="cancel-season">
      X
    </div>
    Create a Season:
    <div id="float-form-table">
    <%= form_for [@current_account, @season] do |f| %>
    <p>
      <%= f.text_field :title, placeholder: "Add a title", id: 'float-form-input', class: 'full-form' %>
      <%= f.submit "New Season", class: "submit-button" %>
    </p>
    </div>
    <% end %>
  </div>
  <div class="maincontainer">
    <div class="subcontainer">
      <h2>Manage:</h2>
      <div id="season-main">
        <div id="season-select">
          <%= collection_select(current_account, :seasons_id, @seasons, :id, :title, {include_blank: "Select a season"}, {class: "large-selector", id: "s-season"}) %>
          <div class="shapeable-block" id="new-season">+SEASON</div>
          <div class="shapeable-block" id="new-team" style="display:none;">+TEAM</div>
        </div>
        <div id="season-info">
        </div>
      </div>
      <div id="team-main">
        <div id="team-select">
        </div>
        <div id="team-info">
        </div>
      </div>
    </div>
  </div>
</body>
