<body>
  <div id="mask"></div>
  <%= render 'layouts/flash_msgs' %>
  <%= render 'layouts/header' %>
  <div class="float-form" id="new-team-form">
    <div class="close-block" id="cancel-team">
      X
    </div>
    Create a Team:
    <div id="float-form-table">
    <%= form_for [@current_account, @team] do |f| %>
    <p>
      <%= f.text_field :name, placeholder: "Enter team name", id: 'float-form-input', class: 'full-form' %>
      <%= f.text_area :description, placeholder: "Add a description", rows: 3, id: 'float-form-input', class: 'full-form no-resize' %>
      <%= f.submit "Create Team", class: "submit-button" %>
    </p>
    <% end %>
    </div>
  </div>

  <div class="float-form" id="new-season-form">
    <div class="close-block" id="cancel-season">
      X
    </div>
    Create a Season:
    <div id="float-form-table">
    <%= form_for [@current_account, @season] do |f| %>
    <p>
      <%= f.text_field :title, placeholder: "Add a title", id: 'float-form-input', class: 'full-form' %>
      <%= f.submit "New Season", class: "submit-button" %>
    </p>
    </div>
    <% end %>
  </div>
  <div class="maincontainer">
    <div class="subcontainer">
      <h2>Manage:</h2>
      <div id="season-main">
        <div id="season-select">
          <%= collection_select(current_account, :seasons_id, @seasons, :id, :title, {include_blank: "Select a season"}, {class: "large-selector", id: "s-season"}) %>
          <div class="shapeable-block" id="new-season">+SEASON</div>
          <div id="reloadonchange" style="display:inline">
            <% if !current_season.nil? %>
              <%= link_to [@current_account, current_season], method: :delete, class: "shapeable-cblock", id: "del-season", style: "display:none;" do %>
                DELETE SEASON
              <% end %>
            <% end %>
          </div>
          <div class="shapeable-block" id="new-team" style="display:none;">+TEAM</div>
          <%= link_to "CALENDAR", calendar_path, class: "shapeable-block" %>
        </div>
        <div id="season-info">
        </div>
        <div id="static-teamslist">
          <div id="infob">
            <h3>Available Teams:</h3>
            <% if !current_season.nil? %>
              <% @teams.each do |t| %>
                <% if !current_season.teams.include?(t) #is not already in the season%>
                  <%= form_for [@current_account, t], remote: true do |f| %>
                    <%= f.hidden_field :season_id, value: current_season.id %>
                    <%= f.submit t.name, class: "team-button", title: "Add to season" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div><div id="team-main">
        <div id="team-info">
        </div>
      </div>
    </div>
  </div>
</body>
