<body>
	<div id="mask" style="visibility:hidden;"></div>
		<%= render 'layouts/header' %>
		<div id="float-form" style="visibility:hidden;">
			<div class="close-block" onclick="change_form_visibility()">
				X
			</div>
			Create an Event:
			<table align="center">
		  <%= form_for [@account, @event] do |f| %>
				<tr>
					<td>
						<%= f.text_field :title, placeholder: "Add a title", class: 'full-form' %></td>
				</tr>
				<tr>
					<td>
						<%= f.text_area :description, placeholder: "Add a description", rows: 3, class: 'no-resize' %></td>
				</tr>
				<tr>
					<td>
						<%= f.text_field :location, placeholder: "Add a location", class: 'full-form' %></td>
				</tr>
				<tr>
						<td>
						<%= f.datetime_field :startdate, placeholder: "Start time", value: @date, class: 'full-form' %></td>
				</tr>
				<tr>
					<td>
						<%= f.datetime_field :enddate, placeholder: "End time", class: 'full-form' %></td>
				</tr>
				<tr>
					<td><%= f.datetime_field :notifydate, placeholder: "Add a notification" %>
						<%= f.check_box :notify %></td>
				<tr>
					<td><%= f.submit "New Event", class: "submit-button full-form" %></td>
				</tr>
				</table>
		  <% end %>
		</div>
		<div class="maincontainer">
			<%= flash[:error] %>
			<%= flash[:success] %>
			<div class="subcontainer">
        <div class="month">
          <%= link_to calendar_path(date: @date - 1.month), class: "calendar_selector" do %>
						«
					<% end %>
          <%= "#{@date.strftime("%B")} #{@date.year}"%>
          <%= link_to calendar_path(date: @date + 1.month), class: "calendar_selector" do %>
						»
					<% end %>
        </div>
				<div style="height:500px;">
	        <div>
	          <%= calendar(@date) do |date|%>
							<%= date.day %>
						<% end %>
	        </div>
					<div class="events_block">
						<table>
							<span style="font-size: 16px;">UPCOMING EVENTS:</span>
							<div class="new-block" onclick="change_form_visibility()">
								+
							</div>
							<br><br>
							<% if @events.any? #the user has events%>
								<% @events.each do |e| %>
									<tr>
										<td><%= e.title %></td><td><%= e.startdate %></td><td><%= e.enddate %></td>
									</tr>
								<% end %>
							<% else %>
									You have no upcoming events.
							<% end %>
						</table>
					</div>
				</div>
				<%= yield %>
			</div>
		</div>
</body>
