<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<div class="subcontainer">
        <div class="month">
          <%= link_to calendar_path(date: @date - 1.month), class: "calendar_selector" do %>
						«
					<% end %>
          <%= "#{@date.strftime("%B")} #{@date.year}"%>
          <%= link_to calendar_path(date: @date + 1.month), class: "calendar_selector" do %>
						»
					<% end %>
        </div>
        <div>
          <%= calendar(@date) do |date|%>
						<%= date.day %>
					<% end %>
        </div>
				<div class="events_block">
					<table>
						<span style="font-size: 16px;">UPCOMING EVENTS:</span>
						<div class="close-block" onclick="show_element">
							+
						</div>
						<br><br>
						<% if !@events.empty? #the user has events%>
							<%= @events.each do |e| %>
								<tr>
									<td>e.title</td><td>e.startdate</td><td>e.enddate</td>
								</tr>
							<% end %>
						<% else %>
								You have no upcoming events.
						<% end %>
					</table>
				</div>
				<%= yield %>
			</div>
		</div>
</body>
