<DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Timetrak</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<div class="subcontainer">
        <div class="month">
          <%= link_to account_calendar_path(date: @date - 1.month), class: "calendar_selector" do %>
          	<<
					<% end %>
          <%= "#{@date.strftime("%B")} #{@date.year}"%>
          <%= link_to account_calendar_path(date: @date + 1.month), class: "calendar_selector" do %>
          	>>
					<% end %>
        </div>
        <div>
          <%= calendar(@date) do |date|%>
						<%= date.day %>
					<% end %>
        </div>
			</div>
		</div>
	</body>
  <%= yield -%>
</html>
