<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<div class="subcontainer">
        <div class="month">
          <%= link_to calendar_path(date: @date - 1.month), class: "calendar_selector" do %>
          	<<
					<% end %>
          <%= "#{@date.strftime("%B")} #{@date.year}"%>
          <%= link_to calendar_path(date: @date + 1.month), class: "calendar_selector" do %>
          	>>
					<% end %>
        </div>
        <div>
          <%= calendar(@date) do |date|%>
						<%= date.day %>
					<% end %>
        </div>
			</div>
		</div>
</body>
<%= yield -%>
