$("#single_event").load(location.href + " #se-container");
$("#events-rblock").html(" \
<h3><% if @team %><%= @team.name.upcase %><% else %>ALL<% end %> UPCOMING EVENTS:</h3> \
<% if @events.any? %> \
  <% @events.each do |e| %><div> \
    <%= escape_javascript form_tag(account_team_event_path(current_account,e.team_id, e), method: :put) %> \
    <div id='<%= e.team1.delete(' ')+'_block' %>'> \
    <div class='sinfo-block' id='<%= e.team1 %>'> \
      <h3><span class='editable lineinput' id='team1'><%= e.team1 %></span> VS. <span class='editable lineinput' id='team2'><%= e.team2 %></span></h3> \
      <p><%= escape_javascript image_tag 'clock.png', size:'16x16' %> \
      <span class='editable dinput' id='startdate'><%= e.startdate.strftime('%B %e, %Y') %></span> \
      <span class='editable tinput' id='starttime'><%= e.starttime.strftime('%l:%M %p') %></span> TO: \
      <span class='editable dinput' id='enddate'><%= e.enddate.strftime('%b %e, %Y') %></span> \
      <span class='editable tinput' id='endtime'><%= e.endtime.strftime('%l:%M %p') %></span> \
      <span class='button-block standard-block' id='expand-info'>...</span> \
      <span class='button-block standard-block' id='edit-event' title='Press to edit'><%= escape_javascript image_tag 'edit.png', size:'16x16' %></span> \
      <%= escape_javascript link_to(image_tag('trash.png', size:'16x16'), '/events/delete/'+e.id.to_s, method: :delete, class: 'button-block standard-block', data: {confirm: 'Confirm deletion of: '+e.team1+' vs. '+e.team2+'?'}) %> \
      <br></p> \
    </div> \
    <div class='linfo-block' id='<%= e.team1+'_expanded' %>'><p> \
      <% if e.notify %> \
        <%= escape_javascript image_tag 'alarm.png', size:'16x16' %> \
          <span class='editable dinput' id='notifydate'><%= e.notifydate.strftime('%B %e, %Y') %></span> \
          <span class='editable dinput' id='notifytime'><%= e.notifytime.strftime('%l:%M %p') %></span><br> \
      <% else %> \
          <%= escape_javascript image_tag 'alarm.png', size:'16x16' %> Notifications are currently unavailable.<br> \
      <% end %> \
      <% if !e.location.length.nil? %> \
          <%= escape_javascript image_tag 'location.png', size:'16x16' %> <span class='editable lineinput' id='location'><%= e.location %></span><br> \
      <% else %> \
          <%= escape_javascript image_tag 'location.png', size:'16x16' %> <span class='editable lineinput' id='location'>Add a location</span><br> \
      <% end %> \
      <% if !e.description.blank? %> \
          <%= escape_javascript image_tag 'note.png', size:'16x16' %> <span class='editable blobinput' id='description'><%= e.description %></span> \
      <% else %> \
          <%= escape_javascript image_tag 'note.png', size:'16x16' %> <span class='editable blobinput' id='description'>Add a description</span> \
      <% end %></p></div><hr></div> \
    </div> \
  <% end %> \
<% else %> \
  You have no upcoming events. \
<% end %>");

$(".calendar").remove()
$("<%= escape_javascript(calendar(@date) do |date|%>
<div class='calendar-event-wrapper'>
  <%= date.day %>
  <% if @events_by_date[date] %>
    <% @events_by_date[date].each do |e| %>
      <% if e.startdate < Date.today %>
      <div class='event-item-passed' id=<%= e.id %> >
        <%= e.team1 %> vs. <%= e.team2 %>
      </div>
      <% else %>
      <div class='event-item' id=<%= e.id %> >
        <%= e.team1 %> vs. <%= e.team2 %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end )%>").insertAfter($(".month"));
