<body>
	<div id="mask"></div>
		<%= render 'layouts/header' %>
		<%= render 'layouts/flash_msgs' %>
		<div class="float-form" id="new-gen">
			<div class="close-block" id="cancel-gen">X</div>
			Schedule Generation Settings:
			<div id="float-form-table">
			Start Date:<input style="font-size: inherit;border: none;" type="date" id="gDate"><br>
			Start:<input style="font-size: inherit;border: none;" type="time" id="gSTime"><br>
			End:<input style="font-size: inherit;border: none;" type="time" id="gETime"><br>
			Games Per Week:<input style="font-size: inherit;border: none;" type="number" id="gLimit"><br>
			</div>
		</div>

		<div id="single_event">
		<% if !current_team.nil? && !current_season.nil? %>
			<div class="float-form" id="new-sgen">
				<div class="close-block" id="cancel-sgen">X</div>
				Create An Event:
				<%= form_for [current_account, current_team, current_team.events.build], id: "float-form-table" do |f| %>
					<%= f.collection_select :team1, current_season.venues, :id, :name, {prompt: "Select a venue"},  {class: "large-selector"} %>
				<% end %>
			</div>
		<% end %>
	</div>

		<div class="maincontainer">
			<div class="subcontainer">
        <div class="month" id="<%= @date %>">
          <%= link_to calendar_path(date: @date - 1.month), class: "calendar_selector" do %>«<% end %>
          <%= "#{@date.strftime("%B")} #{@date.year}"%>
          <%= link_to calendar_path(date: @date + 1.month), class: "calendar_selector" do %>»<% end %>
        </div>
	      <%= calendar(@date) do |date|%>
					<div class="calendar-event-wrapper">
						<%= date.day %>
					</div>
				<% end %>
				<div class="events_block">
					<%= collection_select(current_account, :seasons_id, @teams_in_season, :id, :name, {prompt: "Filter...", include_blank: "All"}, {class: "large-selector", id: "s-team"}) %>
					<span class='shapeable-block' id='sgen' style="display:none;">+</span>
					<span class='shapeable-block' id='gen' style="display:none;">GENERATE</span>
					<div id="events-rblock">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
