<body>
	<div id="mask"></div>
		<%= render 'layouts/header' %>
		<%= render 'layouts/flash_msgs' %>
		<div class="maincontainer">
			<div class="subcontainer">
        <div class="month" id="<%= @date %>">
          <%= link_to calendar_path(date: @date - 1.month), class: "calendar_selector" do %>«<% end %>
          <%= "#{@date.strftime("%B")} #{@date.year}"%>
          <%= link_to calendar_path(date: @date + 1.month), class: "calendar_selector" do %>»<% end %>
        </div>
	      <%= calendar(@date) do |date|%>
					<div class="calendar-event-wrapper">
						<%= date.day %>
					</div>
				<% end %>
				<div class="events_block">
					<%= collection_select(current_account, :seasons_id, @teams_in_season, :id, :name, {prompt: "Filter...", include_blank: "All"}, {class: "large-selector", id: "s-team"}) %>
					<div id="events-rblock">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
