$('body').prepend(" \
<div class='popup'> \
<div class='button-block danger-block' id='close-popup'>X</div> \
<div id='<%= @event.team1 %>'> \
  <h3><span><%= @event.team1 %></span> VS. <span><%= @event.team2 %></span></h3> \
  <p><%= escape_javascript image_tag 'clock.png', size:'16x16' %> \
  <span><%= @event.startdate.strftime('%B %e, %Y') %></span> \
  <span><%= @event.starttime.strftime('%l:%M %p') %></span> TO: \
  <span><%= @event.enddate.strftime('%b %e, %Y') %></span> \
  <span><%= @event.endtime.strftime('%l:%M %p') %></span> \
  <br></p> \
  <% if !@event.location.length.nil? %> \
      <%= escape_javascript image_tag 'location.png', size:'16x16' %> <span><%= @event.location %></span><br> \
  <% end %> \
  <% if !@event.description.blank? %> \
      <%= escape_javascript image_tag 'note.png', size:'16x16' %> <span><%= @event.description %></span> \
  <% else %> \
      <%= escape_javascript image_tag 'note.png', size:'16x16' %> <span>No description</span> \
  <% end %></p></div>\
</div>");
