<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<%= render 'layouts/error_msgs' %>
			<div class="subcontainer">
				Create An Account:
        <table id="account_info">
					<%= form_for @account do |a| %>
	          <tr><%= a.label :username do %>
							<%= a.text_field :username %>
						<% end %></tr>
						<tr><%= a.label :password do %>
							<%= a.password_field :password %>
						<% end %></tr>
						<tr><%= a.label :password_confirmation do %>
							<%= a.password_field :password_confirmation %>
						<% end %></tr>
						<tr><%= a.label :email do %>
							<%= a.text_field :email %>
						<% end %></tr>
	          <tr><td><%= a.submit "Create Account"%></td></tr>
					<% end %>
				</table>
			</div>
		</div>
</body>
<%= yield -%>
