<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<%= render 'layouts/error_msgs' %>
			<div class="subcontainer">
				Create An Account:
					<%= form_for @account do |a| %>
					<table>
	          <tr><td><%= a.label :username %></td>
							<td><%= a.text_field :username %></td></tr>
						<tr><td><%= a.label :password %></td>
							<td><%= a.password_field :password %></td></tr>
						<tr><td>Confirm Password</td>
							<td><%= a.password_field :password_confirmation %></td></tr>
						<tr><td><%= a.label :email%></td>
							<td><%= a.email_field :email %></td></tr>
	          <tr><td><%= a.submit "Create Account"%></td></tr>
				</table>
				<% end %>
			</div>
		</div>
</body>
<%= yield -%>
