<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<%= flash[:error] %>
			<% if logged_in? %>
			<div class="subcontainer">
				My Account:
        <table>
          <tr><th>Username:</th><td><%= @account.username %></td>
          <tr><th>Email:</th><td><%= @account.email %></td>
        </table>
			</div>
			<% end %>
		</div>
</body>
<%= yield -%>
