<DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Timetrak</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<div class="subcontainer">
				My Account:
        <table id="account_info">
          <tr><th>Username:</th><td><%= @account.user %></td>
          <tr><th>Email:</th><td><%= @account.email %></td>
        </table>
			</div>
		</div>
	</body>
  <%= yield -%>
</html>
