<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<%= flash[:success] %>
			<div class="subcontainer">
				My Account:
        <table class="calendar">
          <tr><th>Username:</th><td><%= @account.username %></td>
          <tr><th>Email:</th><td><%= @account.email %></td>
        </table>
			</div>
		</div>
</body>
<%= yield -%>
