<DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Timetrak</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="maincontainer">
			<%= flash[:danger] %>
			<div class="subcontainer">
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.submit "Login" %>
        <% end %>
        <p>Need an account? <%= link_to "Register now!", new_account_path %></p>
			</div>
		</div>
	</body>
  <%= yield -%>
</html>
