<div class="center_wrapper">
<div class="menublock">
  <% if logged_in? %>
    <%= link_to calendar_path do %>
      <%= image_tag 'timetraklogo.png', class: 'menutitle' %>
    <% end %>
    <%= link_to "LOGOUT", logout_path, class: "menu menuitem", method: :delete %>
    <%= link_to @current_account.username.upcase ,account_path(current_account), class: "menu menuitem" %>
    <%= link_to "MANAGE", account_seasons_path(current_account), class: "menu menuitem" %>
  <% else %>
    <%= link_to welcome_path do %>
      <%= image_tag 'timetraklogo.png', class: 'menutitle' %>
    <% end %>
    <%= link_to "LOGIN", login_path, class: "menu menuitem" %>
    <%= link_to "ABOUT", welcome_path(@welcome, anchor: "about"), class: "menu menuitem" %>
    <%= link_to "FEATURES", welcome_path(@welcome, anchor: "features"),class: "menu menuitem" %>
  <% end %>
</div>
</div>
