<body id="landing">
		<%= render 'layouts/header' %>
			<%= render 'layouts/error_msgs' %>
			<div class="subcontainer">
				<div class="center_wrapper">
					<%= content_tag :div, class: 'float-container' do %>
				Create An Account:
					<%= form_for @account do |a| %>
							<%= a.text_field :username, placeholder: 'username' %><br>
							<%= a.password_field :password, placeholder: 'Password' %><br>
							<%= a.password_field :password_confirmation, placeholder: 'Retype password' %><br>
							<%= a.email_field :email, placeholder: 'example@example.com' %><br>
		          <%= a.submit "Create Account", class: "submit-button" %>
					<% end %>
				<% end %>
				</div>
			</div>
</body>
<%= yield -%>
