<body id="landing">
		<%= render 'layouts/header' %>
			<%= flash[:error] %>
			<% if logged_in? %>
			<div class="parting-block"><h2 class="left-title">Account Details</h2></div>
			<div class="maincontainer">
				<div class="content">
					<div class="subcontainer">
						<h2>Account Details:</h2>
	          Username: <%= @account.username %><br>
	          Email: <%= @account.email %>
					</div>
				</div>
			</div>
			<% end %>
</body>
<%= yield -%>
